@import "~antd/dist/antd.css";

body {
  margin: 0;
  padding: 0;
}

.header-row-container {
  background-color: #000000d9;
  color: white;
  height: 8vh;
  padding: 0.5rem 2rem 0 1.5rem;
}
.header-logo-icon {
  font-size: 26px;
}
.header-title {
  font-size: 40px;
  color: white;
}

.content-row-container {
  background-color: whitesmoke;
  color: black;
  height: auto;
  padding-bottom: 2rem;
}

.footer-row-container {
  background-color: black;
  color: white;
  height: 8vh;
  padding-right: 2rem;
}
